.weather-widget-container{
    padding: 20px; 
    border-radius: 8px; 
    max-width: 300px;
    height: auto; 
    min-height: 200px;
}

.weather-widget-temp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.weather-widget-icon{
    width: 50px;
    height: 50px;
}

.weather-widget-details{
    display: flex;
    justify-content: space-between;
    margin-top: "10px";
}